/* fonts */
@font-face {
    font-family: "DSEG7 Classic";
    src: url(font/DSEG7\ Classic.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overscroll-behavior: none;
    background-image: url(image/stars.jpg);
}
canvas {
    padding-top: 5vh;
    display: block;
    margin: auto;
    background-color: #000;
    cursor: crosshair;
}
#timer {
    position: sticky;
    margin-top: 10px;
    left: 50%;
    width: 300px;
    transform: translate(-50%, 0%);
    pointer-events: none;
}
.sevenSeg-svg {
    fill: #003300;
}
#points {
    position: sticky;
    margin-top: 10px;
    left: 50%;
    width: 100px;
    transform: translate(-50%, 0%);
    pointer-events: none;
}
#coverage {
    color: white;
    font-family: "DSEG7 Classic";
    text-align: center;
}
#legal {
    position: absolute;
    bottom: 0;
    left: 1%;
    color: white;
    font-family: "Roboto";
    font-size: 1.5vw;
}